

.proyectos {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .all-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        gap: 20px;
        margin-top: 180px;

        .flecha-izq {
            position: absolute;
            left: 20px;
            z-index: 100;

            a i {
                font-size: 4rem;
                color: $color-letter;
                transition: all ease 0.3s;

                &:hover {
                    cursor: pointer;
                    color: $color-secondary;
                }

            }

        }

        .flecha-der {
            position: absolute;
            right: 20px;
            z-index: 100;

            a i {
                font-size: 4rem;
                color: $color-letter;
                transition: all ease 0.3s;

                &:hover {
                    cursor: pointer;
                    color: $color-secondary;
                }

            }

        }

        .slides-container {
            width: 300vw;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .slide {
                width: 100vw;
                height: 100vh;

                .container-cards {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 60px;

                    .project-card {
                        position: relative;
                        width: 500px;
                        height: 580px;
                        margin-bottom: 60px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        background-color: $color-tertiary;
                        border: 4px solid $color-secondary;
                        border-radius: 10px;
                        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

                        img {
                            width: 100%;
                            border-top-right-radius: 5px;
                            border-top-left-radius: 5px;
                        }

                        h3 {
                            width: 100%;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 500;
                            letter-spacing: 1px;
                            color: $color-secondary;
                            background-color: $color-primary;
                            margin-bottom: 10px;
                        }

                        .techs {
                            width: 90%;
                            margin: 10px;
                            display: flex;
                            gap: 15px;

                            span {
                                padding: 2px 15px;
                                border-radius: 10px;
                                box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
                                background-color: $color-primary;
                            }

                        }

                        p {
                            text-align: justify;
                            width: 90%;
                            margin-bottom: 20px;
                        }

                        a {
                            position: absolute;
                            bottom: 20px;
                            padding: 10px 20px;
                            background-color: $color-primary;
                            border-radius: 10px;
                            transition: all ease 0.3s;

                            &:hover {
                                cursor: pointer;
                                color: $color-secondary;
                                transform: scale(1.05);
                            }

                        }

                    }

                }

            }

        }

    }

}


@media (max-width: 425px) {

    .proyectos {

        .all-container {
            margin-top: 0;

            .flecha-izq {
                left: 5px;
            }

            .flecha-der {
                right: 5px;
            }

            .slides-container {
                .slide {
                    .container-cards{
                        flex-direction: column;
                        gap: 0px;

                        .project-card {
                            width: 250px;
                            height: 290px;
                            margin-bottom: 60px;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: center;
                            background-color: $color-tertiary;
                            border: 4px solid $color-secondary;
                            border-radius: 10px;
                            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    
                            img {
                                width: 100%;
                            }
    
                            h3 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                height: 26%;
                                margin-bottom: 0px;
                            }
    
                            .techs {
                                display: none;
                            }
    
                            p {
                                display: none;
                            }
    
                        }

                    }
                }
            }

        }

    }

}